---
---
<nav class="bg-white shadow-sm">
  <div class="max-w-6xl mx-auto flex items-center justify-between p-4">
    <a href="/" class="text-xl font-bold text-primary"><div>
      <img src="/images/identity/susanalogoheader.png" alt="Logo" class="h-[6rem] mb-4" />
      
    </div></a>
        

  <ul class="hidden md:flex gap-6 text-md" style="font-family:'Playfair Display', serif;">
  <li><a href="/" class="hover:underline">Inicio</a></li>
  <li><a href="/servicios" class="hover:underline">Servicios</a></li>
  <li><a href="/#servicios" class="hover:underline">Procedimientos</a></li>
  <li><a href="/#resultados" class="hover:underline">Resultados</a></li>
  <li><a href="/#testimonios" class="hover:underline">Testimonios</a></li>
  <li><a href="/#contacto" class="text-primary font-medium">Contacto</a></li>
    </ul>
    <a href="https://wa.me/573015031356?text=Hola%20Dra.%20Nitiz%2C%20quiero%20agendar%20una%20consulta" target="_blank" class="md:inline-block px-4 py-2 rounded-lg bg-[#143B5C] text-white">Reservar</a>
  </div>
</nav>
