---
import contact from '../data/contact';
---


<div>
  <a
    href={`https://wa.me/${contact.whatsapp}`}
    target="_blank"
    rel="noopener noreferrer"
    class="fixed bottom-6 right-6 bg-[#153C5E] hover:bg-green-600 text-white rounded-full p-4 shadow-lg flex items-center justify-center z-50"
  >
    <i class="fa-brands fa-whatsapp fa-2xl"></i> <p>contactanos ahora</p>
  </a>
</div>
